.imageUploadContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.uploadSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.profilePreview img{
    width: 125px;
    height: 125px;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    object-fit: cover;
}

.coverPreview img {
    width: 200px;
    height: 125px;
    border-radius: var(--card-border-radius); 
    overflow: hidden;
    object-fit: cover;
}