.overlay {
    position: relative;
    width: 80vw;
    height: 100vh;
    
    background-image: url('../../assets/images/nikola-duza-fi6kmznklGQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    

}

.newOverlay {
    position: relative;
    width: 100vw;
    height: 100vh;

    background-image: url('../../assets/images/nikola-duza-fi6kmznklGQ-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.formBackdrop {
    width: 100%;
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.listingForm {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: var(--card-border-radius);
    max-width: 650px;
    width: 95%;
    box-shadow: 0 0 20px var(--color-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
}

.listingForm input, select, button{
    width: 100%;
    padding: var(--card-padding);
    background: var(--color-primary-blue);
    border-radius: var(--card-border-radius);
}

.listingInput {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

.imagePreview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.imagePreview div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.imagePreview img{
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    object-fit: cover;
}

.imagePreview button {
    width: 100px;
}



.listingForm button {
    cursor: pointer;
}

.listingForm button:hover {
    background: var(--color-blue-gray)
}