.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-blue);
    padding: 7px 2%;
    position: fixed;
    z-index: 10;
}

.container a {
    color: var(--color-dark);
}

.navLeft {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}


img {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    box-shadow: 0 2rem 3rem var(--color-light);
    transition: all 300ms ease;
}

img:hover {
    box-shadow: none;
}

.navRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.auth {
    border: 3px, solid, var(--color-primary);
    margin: 4px;
    padding: 10px;
    border-radius: var(--border-radius);
    transition: all 300ms ease;
}

.auth:hover {
    background-color: var(--color-hero);
    color: var(--color-primary);
}


